<div class="col-md-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Key Performance Indicators</h5>
    </div>
    <div class="ibox-content" ng-show="isLoading">
      Loading...
    </div>
    <div class="ibox-content" ng-hide="isLoading">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Index</th>
            <th>Aggregation</th>
            <th>Target</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in kpis">
            <td>{{item.name}}
                <a href="javascript:void(0);" tooltip="{{item.description}}"><i class="fa fa-lg fa-info-circle"></i></a>
            </td>
            <td>{{item.index}}</td>
            <td>{{item.aggregation}}</td>
            <td>{{item.target.mesaure}} {{item.target.value}}</td>
            <td style="text-align: center">
              <a href="javascript:void(0);" ng-click="edit(item)"><i class="fa fa-pencil-square"></i></a>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
