<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Legend</h4>
</div>
<div class="modal-body">
    <table class="table table-hover table-striped no-margins">
        <thead>
            <tr>
                <th>Code Value</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody class="row">
            <tr ng-repeat="item in items | orderBy:'code'" ng-class="{'highlighted': code == item.code}">
                <td width="100">{{item.code}}</td>
                <td>{{item.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
</div>