<div class="modal-header">
  <button type="button" class="close" close ng-click="cancel()">&times;</button>
  <h4 class="modal-title">Move Control {{control.controlId}}</h4>
</div>
<div class="modal-body">
  You are about to move Control {{control.controlId}} <span class="tooltip-icon" tooltip="{{control.title}}" tooltip-placement="right"><i class="fa fa-lg fa-info-circle"></i></span> to another risk.<br/>
  Please select the risk from the table below where the control will be moved to
  <table class="table table-hover table-striped table-bordered no-margins" ng-hide="isLoading">
    <thead>
      <tr>
        <th>#</th>
        <th>Category</th>
        <th>Consequence</th>
      </tr>
    </thead>
    <tbody class="row">
      <tr ng-repeat="risk in risks" class="cursor-pointer" ng-class="{'highlighted-gray': selected.index == $index}" ng-click="selected.index = $index; selected.risk = risk;">
        <td class="text-nowrap">Risk {{$index + 1}}</td>
        <td>{{risk.category}}</td>
        <td>{{risk.risk| to_trusted}}</td>
      </tr>
    </tbody>
  </table>
  <div class="wrapper wrapper-content" ng-show="isLoading">
    <div class="text-center">
      <h2>Loading....</h2>
      <div class="block-spinner"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" close ng-click="move()">Move</button>
  <button type="button" class="btn btn-white" close ng-click="cancel()">Cancel</button>
</div>