.box {
    height: 100%;
    /* border: 1px solid #ccc; */
    background-color: #fff;
}
.box-header {
    height: 30px;
    background-color: #eee;
    /* padding: 0 30px 0 10px; */
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}
.box-header h3 {
    width: 100%;
    margin: 5px;
    display: inline-block;
}   
.box-content {
    height: 100%;
    padding-top: 50px;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
.gridster-item {
    border: 1px solid #ccc;
}