<div class="wrapper wrapper-content" ng-show="relatedActionItemsIsLoading">
  <div class="text-center">
    <h2>{{loadingText}}</h2>
    <div class="block-spinner"></div>
  </div>
</div>
<div ng-hide="relatedActionItemsIsLoading">
  <table class="table table-striped table-bordered table-hover table-custom" ng-show="relatedActionItems.length">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Due Date</th>
        <th>Created By</th>
        <th>Assigned To</th>
      </tr>
    </thead>
    <tbody>
      <tr class="linked-row" ng-repeat="item in relatedActionItems" ng-click="goToActionItem(item._id)">
        <td class="text-nowrap">{{item._id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.status}}</td>
        <td>{{item.priority}}</td>
        <td>{{item.dueDate | date:'dd-MMM-yyyy'}}</td>
        <td>{{item.createdBy.display_name}}</td>
        <td>{{item.assignedTo.display_name}}</td>
      </tr>
    </tbody>
  </table>
  <div ng-hide="relatedActionItems.length">
    <p class="empty-list text-muted">No Associated Action Items</p>
  </div>
</div>
<div ng-show="refEntityId">
  <div class="hr-line-dashed"></div>
  <div class="text-right">
    <a href class="btn btn-primary" target="_blank" ui-sref="action-item.new({refEntityType: refEntityType, refEntityId: refEntityId })">Add Action Item</a>
  </div>
</div>